body {
	margin: 0px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_name {
	font-family: serif;
	font-size: 3em;
	border-bottom: 2px solid rgb(158, 149, 151);
	border-right: 2px solid rgb(71, 68, 69);
	width: 400px;
	text-align: center;
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

img {
	width: 600px;
	height: 400px;
	margin: 10px;
	transition: all 1s;
    /* box-shadow: 4px 4px rgb(136, 130, 130); */
}

img:hover,
img:active {
	transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    /* border-color: #ff5454; */
}

p{
    margin-left: 40px;
    
}

.animal_name{
    margin-left: 30px;

}
.animal_subtitle{
    margin-left: 30px;
}